/* 
.question-creator,
.question-creator-header
.question-creator-body,
.question-creator-prompt,
.question-creator-type,
.question-creator-time-limit,
label,
textarea,
.question-creator-save-button,
  .question-creator-remove-button {
    text-align: center;
}
  

.prompt{
    color:red;
} */
  

.question-creator {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
.question-creator-header {
    margin-bottom: 20px;
}

.question-creator-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 10px;
}

.question-creator-prompt,
.question-creator-type,
.question-creator-time-limit {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    
    
}

label {
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="text"],
select {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

textarea {
    font-size: 16px;
}

.question-creator-save-button {
    background-color: #d3d3d3;
    color: #000;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
    
}
  
.question-creator-remove-button {
    background-color: #ff0000;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 20px;
}
  
  


